@page "/customer/backup/create"

@using NonTrackingCustomerCard.Client.Contracts
@using NonTrackingCustomerCard.Client.Repositories

@inject ICustomersRepository CustomerRepository
@inject NavigationManager Navigation

<h3>Meine Daten sichern</h3>

<p>
    Hier können Sie Ihre Kundendaten sichern. Kopieren Sie den folgenden Text und speichern Sie ihn an einem sicheren Ort.
</p>

<div class="textarea-container">
    <textarea @bind="customerDataJson"></textarea>
</div>

<style>
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
    .textarea-container {
        height: calc(100vh - 350px); /* Adjust the height to account for the header */
        display: flex;
        flex-direction: column;
    }
    textarea {
        flex: 1;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        padding: 10px;
        font-size: 16px;
    }
</style>

@code {
    private string customerDataJson;

    protected override async Task OnInitializedAsync()
    {
        var (hasCustomer, customerData) = await CustomerRepository.TryGetCustomerJson();

        if (hasCustomer)
        {
            customerDataJson = customerData;
        }
        else
        {
            Navigation.NavigateTo("/customer");
        }
    }
}