@page "/customer"

@using NonTrackingCustomerCard.Client.Contracts
@using NonTrackingCustomerCard.Client.Repositories

@inject IJSRuntime JS
@inject NavigationManager Navigation
@inject ICustomersRepository CustomerRepository

<h3>Ihre Kundenkarte von @customerOfVendor.OfVendor.Name!</h3>

<h4>Aktueller Punktestand: @customer.Customer.Points</h4>

<canvas id="qrcode" class="qr-code-container" @onclick="NavigateToScanUpdate"></canvas>

<p>
    Auf den QR-Code klicken, um den Punktestand zu aktualisieren.
</p>

<p>
    <NavLink href="/customer/backup/create">Meine Daten sichern</NavLink>
</p>

<style>
    html, body, .qr-code-container {
        height: 100%;
        margin: 0;
    }
    .qr-code-container {
        display: flex;
        justify-content: center;
        align-items: top;
        max-width: 80vmin; /* 80% of the smaller dimension (viewport width or height) */
        max-height: 80vmin; /* 80% of the smaller dimension (viewport width or height) */
    }
    canvas {
        width: 100%;
        height: 100%;
    }
</style>


@code {
    private CustomerDataWithSignature customer = new();
    private CustomerOfVendorData customerOfVendor = new();

    protected override async Task OnInitializedAsync()
    {
        var (hasCustomer, _) = await CustomerRepository.TryGetCustomerJson();

        if (hasCustomer)
        {
            customerOfVendor = await CustomerRepository.GetCustomerOfVendorDataAsync();
            customer = await CustomerRepository.GetCustomerDataWithSignatureAsync();
        }
        else
        {
            Navigation.NavigateTo("/customer/scanvendor");
        }
    }

    override protected async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("qrGenerator.initializeQrCode", "qrcode");
        }

        if (customer != null)
            await JS.InvokeAsync<string>("qrGenerator.generateQrCode", customer);
    }

    private void NavigateToScanUpdate()
    {
        Navigation.NavigateTo("/customer/scanupdate");
    }
}