@page "/vendor/backup/create"

@using NonTrackingCustomerCard.Client.Contracts
@using NonTrackingCustomerCard.Client.Repositories

@inject NavigationManager Navigation
@inject IJSRuntime JS
@inject IVendorRepository VendorRepository

<h3>Meine Daten sichern</h3>

<p>
    Hier können Sie Ihre Händlerdaten sichern. Kopieren Sie den folgenden Text und speichern Sie ihn an einem sicheren Ort.
</p>

<div class="textarea-container">
    <InputTextArea  @ref="backupJson" @bind-Value="vendorDataJson" />
</div>

<style>
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
    .textarea-container {
        height: calc(100vh - 350px); /* Adjust the height to account for the header */
        display: flex;
        flex-direction: column;
    }
    textarea {
        flex: 1;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        padding: 10px;
        font-size: 16px;
    }
</style>

@code {
    private string vendorDataJson;
    private InputTextArea backupJson;

    protected override async Task OnInitializedAsync()
    {
        var (hasVendor, vendorData) = await VendorRepository.TryGetVendorJson();

        if (hasVendor)
        {
            vendorDataJson = vendorData;
        }
        else
        {
            Navigation.NavigateTo("/vendor");
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JS.InvokeVoidAsync("window.HTMLTextAreaElement.prototype.select.call", backupJson.Element);
    }
}